:root {
    --light: beige;
    --dark: teal;
    --accent: rgb(247, 89, 0);
    --base: black;
}
/* name and description */
.nav-name-and-desc {
    height: auto;
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
}
/* determines where buttons are */
.nav-buttons {
    height: auto;
    display: flex;
    flex-direction: row;
    width: auto;
    background-color: var(--dark);
    justify-content: end;
}
/* button stylizing */
.button{
    height: 69px;
    width: 125px;
    background: var(--accent);
    color: var(--base);
    margin: 10px;
/* button words location */
    display: flex;
    justify-content: center;
    align-items: center;
}